@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-white: #e5e5e5;
  --main-red: #9e2434;
  --main-blue: #45567d;
  --main-gray: #2a2f35;
  --default-border: 4px solid var(--main-gray);
  --default-shadow: 3px 3px 3px 1px var(--main-gray);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-red);
  color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 10px;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 5px;
}

.tank,
.glass {
  background-color: var(--main-white);
  border: var(--default-border);
  box-shadow: var(--default-shadow);
  color: var(--main-gray);
  border-radius: 0 0 15px 15px;
  height: 380px;
  width: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.glass {
  height: 100px;
  width: 50px;
  border-radius: 0 0 5px 5px;
  background-color: var(--main-white);
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

.glass.full {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.glasses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 500ms;
}

.remained span {
  font-size: 18px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  background-color: var(--main-blue);
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 500ms;
}

.text {
  font-size: 24px;
  text-align: center;
  margin: 10px;
}
