@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-white: #e5e5e5;
  --main-red: #9e2434;
  --main-blue: #45567d;
  --main-gray: #2a2f35;
  --default-border-light: 1px solid var(--main-white);
  --default-border: 1px solid var(--main-gray);
  --default-shadow: 0px 0px 10px 2px var(--main-white);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-red);
  color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.starter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.lamp {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 1s ease;
}

.lamp:hover {
  transition-duration: 0s;
}

.buttons-container,
.picker {
  border-radius: 5px;
  background-color: var(--main-blue);
  width: 400px;
  height: 40px;
  color: var(--main-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.picker {
  background-color: transparent;
  height: 150px;
}

.pick {
  border-radius: 50%;
  border: var(--default-border-light);
  box-shadow: var(--default-shadow);
  background-color: var(--main-gray);
  color: var(--main-white);
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: auto;
}

.btn {
  border-radius: 50%;
  background-color: var(--main-blue);
  color: var(--main-white);
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: auto 10px;
}

.btn:active,
.pick:active {
  transform: scale(0.95);
}

.btn:focus,
.pick:focus {
  outline: none;
}

.on {
  color: var(--main-gray);
  background-color: var(--main-white);
}

.off {
  color: var(--main-white);
  background-color: var(--main-gray);
}

.shrink {
  transform: scale(0);
  animation: shrink 800ms;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.hide {
  display: none;
}
