@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-white: #e5e5e5;
  --main-red: #9e2434;
  --main-blue: #88abff;
  --dark-blue: #45567d;
  --main-gray: #2a2f35;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-red);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  color: var(--main-white);
}

.container {
  background-color: var(--main-gray);
  padding: 10px 20px;
  border-radius: 25px;
}

.container h1 {
  text-align: center;
  margin-bottom: 35px;
}

.container a {
  text-decoration: none;
  color: var(--main-blue);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: var(--dark-blue);
  padding: 12px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: var(--main-white);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.95);
}

.text {
  margin-top: 30px;
  color: var(--main-white);
}

.form-control {
  position: relative;
  margin: 20px 0 30px;
  width: 275px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--main-white) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: var(--main-white);
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--main-blue);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--main-blue);
  transform: translateY(-28px);
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
